WarningBox {
	color: red;
	text-align: center;
}

DirLabel {
	background: teal;
	color: white;
}

FilterBox {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    padding: 1;
}

Button {
	width: 16;
}
